count.py
.hintrc
index-2.html
ingredients.json
ingredients.py
input.txt
links.txt
names.txt
new.json
count.py
factorio.py
test.py
write.py
test.html
recipes.json
recipes_link2.json
recipes_link1.json
recipes_link.json
package-lock.json
new.json
names.txt
links.txt
input.txt
ingredients.py
ingredients.json
testing